body {
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}

.container {
    width: 575px;
    height: 500px;
}

.grey {
    background: powderblue;
}

.blue {
    background: #082140;
}

.head {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 80px;
    height: 35px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-left: 75px;
}

.icons {
    box-sizing: border-box;
    margin-right: 75px;
}

.fa-solid {
    color: mediumslateblue;
    font-size: 20px;
}

.fa-magnifying-glass {
    margin-right: 10px;
}

.main {
    height: 235px;
    position: relative;
    display: flex;
    justify-content: center;

}

.footer {
    height: 100px;
}

.package {
    width: 375px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: -50px;
}

.box {
    width: 100px;
    height: 100px;
    background: mediumslateblue;
    border-radius: 10px;
}