body {
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    padding: 160px;
}

.card {
    width: 300px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.card > button {
    width: 210px;
    height: 50px;
    border: 1px solid black;
    font-size: 18px;
}

h2 {
    margin-top: 85px;
}

.card > p {
    width: 210px;
    padding: 8px 20px 20px;
    color: grey;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    margin: 0 0 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.icon {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -50px;
}

.fa-solid {
    color: orange;
    font-size: 25px;
}